<!DOCTYPE html>
<html>
	<head>
		<title>gitman: Repo: {{ repo.name }}</title>
	</head>
	<body>
	<a href="/">Index</a>
	<h1>{{ repo.name }}</h1>
	<dl>
		<dt>Clone path</dt>
		<dd><tt>storage:code/{{ repo.path }}</tt></dd>
		<dt>Branches</dt>
		<dd>
			{% for branch in repo.branches() %}
			<tt title="{{ branch.description }}">{{ branch.name }}</tt>
			{% endfor %}
		</dd>
		{% if readme %}
		<dt>Read Me</dt>
		<dd><pre>{{ readme }}</pre></dd>
		{% endif %}
		<dt>Files</dt>
		<dd>
			<ul>
			{% for fn in repo.files(recurse=True) %}
			<li><tt>{{ fn }}</tt></li>
			{% endfor %}
		</dd>
	</body>
</html>